.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column {
    padding: 1em;
    min-width: 100px;
    max-width: 400px;
}

p{
    padding: 1em;
}

img {
    border-radius: .5em;
    max-height: 400px;
}
