<div class="content">
    <div class="data">
        <div class="contacts">
            <div class="block">
                <mat-icon>email</mat-icon>
                <a class="email" href="mailto: ann.memmi@gmail.com">ann.memmi@gmail.com</a>

            </div>
            <div class="block">
                <mat-icon>phone</mat-icon>
                <div>
                    <div class="phone">+38 096 261 57 87</div>
                    <div class="phone">+38 099 335 09 16</div>
                </div>

            </div>
        </div>
        <div class="empty"></div>
    </div>
</div>
