<h2  mat-dialog-title>{{ data.text }}</h2>
<form class="container" [formGroup]="formGroup">
    <mat-form-field>
        <input matInput placeholder="id" formControlName="id" readonly>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Catalog element</mat-label>
        <mat-select formControlName="catalogElement">
            <mat-option *ngFor="let element of catalogElements" [value]="element.id">
                {{element.viewName}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="headText" formControlName="headText">
    </mat-form-field>

    <mat-form-field>
        <input type="text" matInput formControlName="img" hidden>
        <ng-container *ngIf="formGroup.controls.img.value; else elseTemplate">
            <img src="{{getFullThumbPath()}}" alt="" (click)="onClickImg()">
        </ng-container>
        <ng-template #elseTemplate>
            <span class="cursor" (click)="onClickImg()">Click for image!</span>
        </ng-template>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="paragraphText" formControlName="paragraphText">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>text</mat-label>
        <textarea matInput placeholder="text" formControlName="text"></textarea>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="spreadsheetId" formControlName="spreadsheetId">
    </mat-form-field>

    <mat-form-field>
        <input type="number" matInput placeholder="spreadSheetPageNum" formControlName="spreadSheetPageNum">
    </mat-form-field>

    <div>
        <button mat-stroked-button color="primary" (click)="onSubmit()" [disabled]="!formGroup.valid">Accept</button>
        <button mat-stroked-button color="primary" (click)="onClose()">Close</button>
    </div>
</form>
