.icon {
    padding: 0 14px;
}

.spacer {
    flex: 1 1 auto;
}

.link {
    padding: 0 1em;
    cursor: pointer;
}

.logout {
    display: flex;
    flex-flow: column nowrap;
    * {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        height: 16px;
        cursor: pointer;
    }
    .name {
        font-size: .9em;
    }
    .comment {
        font-size: .5em;
    }
}

.top-line {
    display: flex;
    flex-flow: row nowrap;
    background-color: #071849;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    color: #0480b7;
    font-family: "Franklin";

    .logo {
        display: flex;
        margin: 5px;
        max-height: 70%;
        width: auto;
        cursor: pointer;
    }

    .empty {
        display: flex;
        flex: 1 1 auto;
    }

    .head-text {
        font-size: calc(3vw);
        display: flex;
        // position: relative;
        // top: 50%;
        // transform: translateY(-50%);
        cursor: pointer;
    }

    .right-orange {
        display: flex;
        flex-flow: row-reverse nowrap;
        align-items: center;
        background-image: url(../../../assets/pic/head/right_orange.png);
        height: inherit;
        width: 200px;
        padding:0 20px;
        color: black;
    }

    .icon-block{
        cursor: pointer;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        * {
            margin: 3px;
        }
        img {
            height: 40px;
        }
    }
}

.burger {
    display: none;
    position: relative;
    z-index: 30;
    mat-icon{
        display: flex;
        align-items: center;
        width: 100%;
        height: 40px;
        cursor: pointer;
    }
}


mat-menu {
    background-color: burlywood;
}

@media (max-width: 768px) {
    .menu-text {
        color: #071849;
    }
    .right-orange {
        display: none!important;
    }
    .head-text {
        font-size: 1.2em!important;
    }
    .burger {
        display: flex;
    }
    .icon-block{
        img {
            display: none;
        }
     }
}


