.icon {
    padding: 0 14px;
}

.spacer {
    flex: 1 1 auto;
}

.link {
    padding: 0 1em;
    cursor: pointer;
}

.logout {
    display: flex;
    flex-flow: column nowrap;
    * {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        height: 16px;
        cursor: pointer;
    }
    .name {
        font-size: .9em;
    }
    .comment {
        font-size: .5em;
    }
}