<!-- <mat-toolbar color="primary">
    <mat-toolbar-row>
        <span class="link">LOGO</span>
        <span class="spacer"></span>
        <span class="link">Новости</span>
        <span class="link">Работы</span>
        <span class="link">Контакты</span>
        <span class="link">Галерея</span>
        <span class="link" *ngIf="(authState$ | async)?.user.role.role == 'admin'">
            <mat-icon class="icon" routerLink="admin" aria-hidden="false">build</mat-icon>
        </span>
        <div>
            <div *ngIf="authState$ | async as authState; else login" (click)="logout()" class="logout">
                <div class="name">{{authState.user.login}}</div>
                <div class="comment">(logout)</div>
            </div>
            <ng-template #login>
                <mat-icon class="icon link" aria-hidden="false" routerLink="auth">person</mat-icon>
            </ng-template>

        </div>
    </mat-toolbar-row>
</mat-toolbar> -->

<div class="top-line">
    <img src="../../../assets/pic/head/logo.png" alt="logo" class="logo" routerLink="">
    <div class="head-text" routerLink="">
        Memmi | Design&Print Service
    </div>
    <div class="empty"></div>
    <div class="contacts">
        <div class="phone">+38 096 261 57 87</div>
        <div class="phone">+38 099 335 09 16</div>
        <div class="email">ann.memmi@gmail.com</div>
    </div>
    <div class="right-orange">
        <div *ngIf="authState$ | async as authState; else login" (click)="logout()">
            <div class="icon-block">
                <img src="../../../assets/pic/head/kabinet_icon.png" alt="">
                <span (click)="logout()">Выйти</span>
            </div>
        </div>
        <ng-template #login>
            <div class="icon-block" routerLink="auth">
                <img src="../../../assets/pic/head/login-icon.png" alt="">
                <span>Войти</span>
            </div>
        </ng-template>
    </div>
</div>