<div class="container">
    <div class="links">
        <button mat-stroked-button color="primary" routerLink="/admin/tableeditor/catalogtypes">Catalog submenu</button>
        <button mat-stroked-button color="primary" routerLink="/admin/tableeditor/catalogelements">Catalog elements</button>
        <button mat-stroked-button color="primary" routerLink="/admin/tableeditor/catalogelementspages">Catalog elements pages</button>
        <button mat-stroked-button color="primary" routerLink="/admin/tableeditor/galerytypes">Galery submenu</button>
        <button mat-stroked-button color="primary" routerLink="/admin/tableeditor/galeryelements">Galery elements</button>
    </div>
    <br>
    <router-outlet></router-outlet>
</div>

