<div class="container">
    <div class="links">
        <span routerLink="/admin/tableeditor/catalogtypes">Catalog submenu</span>
        <span routerLink="/admin/tableeditor/catalogelements">Catalog elements</span>
        <span routerLink="/admin/tableeditor/catalogelementspages">Catalog elements pages</span>
        <span routerLink="/admin/tableeditor/galerytypes">Galery submenu</span>
        <span routerLink="/admin/tableeditor/galeryelements">Galery elements</span>
    </div>
    <br>
    <router-outlet></router-outlet>
</div>

