.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
table {
    border: 0;
    th {
        background-color: lightblue;
    }
    background-color: rgb(238, 238, 238);
    td {
        border-bottom: rgb(214, 214, 214) 1px solid;
    }
    td, th {
        text-align: center;
        padding: 3px 10px;
    }
}

.tablecont {
    display: flex;
    width: fit-content;
}

.input{
    display: flex;
    flex-grow: 1;
}

.edit-del {
    display: flex;
    flex-direction: row;
    div {
        margin: 0 3px;
        cursor: pointer;
    }
}

.buttons {
    display: flex;
    justify-content: flex-end;
}
