.container {
    border: 2px solid red;
    padding: 10px;
}

h2 {
    color: red;
}

.password {
    display: flex;
    flex-direction: column;
}

.buttons{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}