<div class="container">
    <div *ngIf="menu">
        <div *ngFor="let str of menu">
            <div class="frame-string-menu" routerLinkActive = "active">
                <div class="text" routerLink = "{{str.param}}">
                    {{ str.name }}
                </div>
                <div class="line"></div>
                <img src="../../../assets/pic/arrow_right_white_18dp.png" alt="">
            </div>
            <div *ngIf="router.url == str.param">
                <div *ngFor="let link of str.sub"  class="link-sub">
                    {{link.name}}
                </div>
            </div>
        </div>
    </div>
</div>
