.container{
    display: flex;
    flex-flow: column nowrap;
    width: fit-content;
}

.frame-string-menu {
    cursor: pointer;
    background-color: #0480B7;
    display: flex;
    width: fit-content;
    height: 30px;
    // height: 3em;
    margin: .5em 1em;
    padding: 4px;
    box-shadow: rgb(53, 53, 53) -3px 3px 5px;
}

.text {
    font-family: "Century";
    color: white;
    line-height: 1;
    display: flex;
    height: 100%;
    width: 8em;
    text-align: center;
    vertical-align: bottom;
    font-size: .9em;
    user-select: none;
}

.line {
    height: 100%;
    width: 1.5px;
    background-color: white;
    // margin: 0 1em;
}

.active {
    background-color: #4fd0fc;
}

.link-sub {
    cursor: pointer;
    font-family: "Century";
    font-size: .8em;
    width: 7em;
    margin: 0 0 10px 2em;
}
