.container{
    display: flex;
    flex-flow: column nowrap;
    width: fit-content;
}

.frame-string-menu {
    cursor: pointer;
    background-color: #0480B7;
    display: flex;
    width: fit-content;
    height: 30px;
    margin: .5em 1em;
    padding: 4px;
    box-shadow: rgb(53, 53, 53) -3px 3px 5px;
}

.text {
    font-family: "Century";
    color: white;
    line-height: 1;
    display: flex;
    height: 100%;
    width: 8em;
    text-align: center;
    vertical-align: bottom;
    font-size: .9em;
    user-select: none;
}

.line {
    height: 100%;
    width: 1.5px;
    background-color: white;
    // margin: 0 1em;
}

.activeM {
    background-color: #4fd0fc;
}
.activeSubM {
    box-shadow: 2px 2px 5px rgb(255, 145, 0)!important;
    background-color: rgb(238, 251, 252);
}

.sub {
    width: 100%;
}

.textSub {
    width: 7em;
    padding: 3px;
    user-select: none;
}

.link-sub {
    display: flex;
    width: calc(100% - 4em);
    cursor: pointer;
    font-family: "Century";
    font-size: .8em;
    margin: 0 0 10px 2em;
    border: rgb(216, 216, 216) 1px solid;
    border-radius: 3px;
    box-shadow: 2px 2px 2px rgb(2, 0, 99);
}
