<div class="container">
    <div *ngFor="let item of menu; let i=index">
        <div class="frame-string-menu"
        [routerLink] ="[item.param]"
        [class.activeM] = "isActiveRoute([item.param])">
            <div class="text">
                {{ item.name }}
            </div>
            <div class="line"></div>
            <img src="../../../assets/pic/arrow_right_white_18dp.png" alt="">
        </div>
        <div *ngIf="i <= 1 && isActiveRoute([item.param])" class="sub">
            <div *ngFor="let el of catalogSubMenu" [routerLink]="[item.param, el.id]" class="link-sub" routerLinkActive = "activeSubM">
                <div class="textSub">
                    {{ el.viewName }}
                </div>
            </div>
        </div>
    </div>
</div>
