<h2  mat-dialog-title>{{ data.text }}</h2>
<form class="container" [formGroup]="formGroup">
    <mat-form-field>
        <input matInput placeholder="id" formControlName="id" readonly>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="name" formControlName="name">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="viewName" formControlName="viewName">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="order" formControlName="order">
    </mat-form-field>
    <div>
        <button mat-stroked-button color="primary" (click)="onSubmit()" [disabled]="!formGroup.valid">Accept</button>
        <button mat-stroked-button color="primary" (click)="onClose()">Close</button>
    </div>
</form>
