.page {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.router {
    display: flex;
    flex: 1 1 100%;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}
app-main{
    width: 100%;
}