.page {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.router {
    display: flex;
    flex: 1 1 100%;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

app-main{
    width: 100%;
}

.mobile {
    display: none;
}

.pc {
    display: flex;
    flex-direction: column;
}

mat-sidenav{
    position: fixed;
    top: 0;
}

mat-sidenav-content {
    background-color: #071849;
}

mat-icon {
    color: #0480b7;
}

@media (max-width: 800px) {
    .pc {
        display: none;
    }
    .mobile {
        display: flex;
        flex-direction: column;
    }
}
// https://stackoverflow.com/a/67880670/12117264
::ng-deep .mat-drawer-backdrop.mat-drawer-shown {
    position: fixed;
}