<div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <input matInput placeholder="login" formControlName="name" placeholder="name" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" formControlName="password" placeholder="password" required>
        </mat-form-field>
        <button mat-stroked-button color="primary" class="button" type="submit" [disabled]="isDisabledButton">Login</button>
        <div *ngIf="errMessage" class="wrong">
            {{errMessage}}
        </div>
    </form>
</div>