.container {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    border: 1px solid red;
}

form {
    display: flex;
    flex-direction: column;
    padding: 1em;
    div {
        display: flex;
        flex-direction: column;
        margin: .3em 0;
    }
}

label {
    font-size: .8em;
}