.container {
    display: flex;
    flex-flow: column;
    height: fit-content;
    width: fit-content;
}

mat-form-field {
    font-size: .8em;
}

.password {
    display: flex;
    flex-flow: row nowrap;
    :first-child {
        padding: 0 1em 0 0;
    }
}