<mat-toolbar color="primary" class="container" (click)="$event.stopPropagation()">
    <mat-toolbar-row>
        <div *ngFor="let item of mainMenu; let i=index">
            <div class="frame-string-menu">
                <button mat-button [matMenuTriggerFor]="menu" *ngIf="item.sub">{{ item.name }}</button>
                <mat-menu #menu="matMenu">

                    <div *ngIf="item.sub" class="sub">
                        <button mat-menu-item [routerLink]="[item.param]">*Показать все*</button>
                        <ng-container *ngIf="item.sub === 'catalog'">
                            <div *ngFor="let el of catalogSubMenu" [routerLink]="[item.param, el.id]" class="link-sub" routerLinkActive = "activeSubM">
                                <button mat-menu-item>{{ el.viewName }}</button>
                            </div>
                        </ng-container>

                        <ng-container *ngIf="item.sub === 'galery'">
                            <div *ngFor="let el of galerySubMenu" [routerLink]="[item.param, el.id]" class="link-sub" routerLinkActive = "activeSubM">
                                <button mat-menu-item>{{ el.viewName }}</button>
                            </div>
                        </ng-container>

                    </div>
                </mat-menu>
                <button mat-button *ngIf="!item.sub" [routerLink]="[item.param]">{{ item.name }}</button>

            </div>
        </div>
        <span class="example-spacer"></span>
    </mat-toolbar-row>
</mat-toolbar>

<div class="burger">
    <mat-sidenav-container #sidenav [class.overlay]="opened">
        <mat-sidenav [(opened)]="opened">
            <mat-accordion #accordion="matAccordion">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{ mainMenu[0].name}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                        <p [routerLink]="[mainMenu[0].param]" (click) = "close()">*Показать все*</p>
                        <p *ngFor="let el of catalogSubMenu" [routerLink]="[mainMenu[0].param, el.id]" (click) = "close()">
                            {{ el.viewName }}
                        </p>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{ mainMenu[1].name}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p [routerLink]="[mainMenu[1].param]" (click) = "close()">*Показать все*</p>
                        <p *ngFor="let el of galerySubMenu" [routerLink]="[mainMenu[1].param, el.id]" (click) = "close()">
                            {{ el.viewName }}
                        </p>
                </mat-expansion-panel>

                <mat-expansion-panel #panel [routerLink]="[mainMenu[2].param]" hideToggle (click) = "close()">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{ mainMenu[2].name}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                </mat-expansion-panel>

                <mat-expansion-panel #panel [routerLink]="[mainMenu[3].param]" hideToggle (click) = "close()">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{ mainMenu[3].name}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                </mat-expansion-panel>

                <mat-expansion-panel #panel [routerLink]="[mainMenu[4].param]" hideToggle (click) = "close()">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{ mainMenu[4].name}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                </mat-expansion-panel>


            </mat-accordion>
        </mat-sidenav>

        <mat-sidenav-content>
            <button mat-button (click)="opened = true" class="sidenav-button">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-sidenav-content>

    </mat-sidenav-container>

</div>
