@font-face {
    font-family: "Franklin";
    src: url("assets/fonts/framd.ttf");
}

@font-face {
    font-family: "Miriad";
    src: url("assets/fonts/Myriad_pro_Bold.OTF");
}

@font-face {
    font-family: "Century";
    src: url("assets/fonts/Century_GOTHIC.TTF");
}