<div class="container">
    <div class="content" *ngIf="catalogElements">
        Submenu elements page content edit
        <br>
        <br>
        <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef> id </mat-header-cell>
                    <mat-cell *matCellDef="let page"> {{page.id}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="catalogElement">
                    <mat-header-cell *matHeaderCellDef> catalogElement </mat-header-cell>
                    <mat-cell *matCellDef="let page"> {{getCatalogViewName(page.catalogElement)}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="headText">
                    <mat-header-cell *matHeaderCellDef> headText </mat-header-cell>
                    <mat-cell *matCellDef="let page"> {{page.headText}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="img" class="line">
                    <mat-header-cell *matHeaderCellDef> img </mat-header-cell>
                    <mat-cell *matCellDef="let page">
                        <img src="{{ getFullPath(page.img)}}" alt="" class="thumb">
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="paragraphText">
                    <mat-header-cell *matHeaderCellDef> paragraphText </mat-header-cell>
                    <mat-cell *matCellDef="let page"> {{page.paragraphText}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="text">
                    <mat-header-cell *matHeaderCellDef> text </mat-header-cell>
                    <mat-cell *matCellDef="let page"> {{page.text | slice:0:10}}... </mat-cell>
                </ng-container>

                <ng-container matColumnDef="spreadsheetId">
                    <mat-header-cell *matHeaderCellDef> spreadsheetId </mat-header-cell>
                    <mat-cell *matCellDef="let page"> {{page.spreadsheetId}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="spreadSheetPageNum">
                    <mat-header-cell *matHeaderCellDef> spreadSheetPageNum </mat-header-cell>
                    <mat-cell *matCellDef="let page"> {{page.spreadSheetPageNum}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="check">
                    <mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="onCheckAll($event)"></mat-checkbox>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-checkbox (change)="onCheck(element)" [checked]="markedPage.includes(element)"></mat-checkbox>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <div class="buttons">
            <button mat-raised-button (click)="onCreate()">Add</button>
            <button mat-raised-button (click)="onEdit()" [disabled]="markedPage.length !== 1">Edit</button>
            <button mat-raised-button (click)="onDelete()" [disabled]="markedPage.length < 1">Delete</button>
        </div>

    </div>

</div>